<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
  </head>
  <body>
    <div
      class="main relative overflow-hidden w-full h-screen text-white bg-black z-50"
    >
      <nav
        class="w-full fixed h-20 flex px-6 items-center justify-between border-b border-zinc-900 z-50">
        <a href="/">
          <h1
            class="notek text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-medium text-pink-600 shadow-white"
          >
            Notek
          </h1>
        </a>

        <div class="menu-btn sm:hidden block">
          <i class="ri-menu-3-line text-2xl"></i>
        </div>

        <div class="navlink sm:flex gap-6 hidden"> 
          <a
            href="/login"
            class="py-2 px-4 bg-white hover:text-white text-black rounded-md font-medium hover:bg-black shadow-white"
            >Login</a
          >
          <a
            href="/register"
            class="py-2 px-4 bg-white hover:text-white text-black rounded-md font-medium hover:bg-black shadow-white"
            >Sign up</a
          >
        </div>
      </nav>
      

      <div class="head-gradient absolute top-[38%] left-[0%] sm:left-[24%]  w-[50rem] h-[10rem] rounded-full -z-10"></div>
      
      <div class="menu-list border border-zinc-700 flex flex-col gap-2 absolute w-44 h-64 rounded-md top-[5%] -right-[100%] py-20 justify-start  z-20"
      >
        <a
          href="/user/account"
          class="py-2 px-4 underline text-white rounded-sm font-medium"
          >Account</a
        >
        <a
          href="/login"
          class="py-2 px-4 underline text-white rounded-sm font-medium"
          >login</a
        >
        <a
          href="/register"
          class="py-2 px-4 underline text-white rounded-sm font-medium"
          >Sign up</a
        >
      </div>

      <div class="w-full h-[83vh] flex  items-center justify-center mt-[4rem]">

        <div class="404-div relative w-[40rem] h-[25rem] flex px-6 items-center justify-center text-zinc-700">

           <h1 class="text-4xl font-bold"> 404 not found </h1>

        </div>

      </div>

      <footer class="w-full relative h-14 flex px-5 sm:justify-center justify-between">

        <div class="left-elem flex items-center gap-5">
            <h5 class="text-base sm:text-xl font-medium">© 2024 NOTEK</h5>
        <a target="_blank" href="https://github.com/notek">
            <i class="ri-github-fill text-xl sm:text-2xl shadow-white"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/md-emran-79302b2b1/">
            <i class="ri-linkedin-box-fill text-xl sm:text-2xl shadow-white"></i>
          </a>
        </div>
      </footer> 

    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
